.content {
	margin: 50vh 5% 8vh 5%;
	h3 {
		font-size: 1em;
		font-family: benton-sans, sans-serif;
		text-align: center;
	}

	p {
		width: 80%;
		margin: 1em auto 0 auto;
		text-align: center;
		img {
			width: 5%;
			padding: 4px;
		}
	}
}

.year {
	width: 80%;
	background-color: #6AC9C9;
	margin: 0 auto 0 auto;
	padding: 24px 0 12px 0;
	div {
		width: 80%;
		background-color: white;
		border: 1px solid white;
		border-radius: 8px;
		margin: auto;
		letter-spacing: 3px
	}
}
.notfirst { /* Extra padding for all but first accordion */
	padding: 32px 0 32px 0;
}

.panel {
	background-color: #6AC9C9;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	/*border-bottom: 1px solid black;*/
	outline: none;
	transition: 0.4s;
	&:after {
		content: '\002B'; /* plus sign */
		color: white;
		font-weight: bold;
		float: right;
		margin-left: 5px;

		/*content: "";
        /*display: block;
        /*margin: 0 auto;
        /*width: 50%;
        /*padding-top: 20px;
        /*border-bottom: 1px solid black; */
	}

	&:hover {
		background-color: #F3776D;
	}
}

.active {
	background-color: white;
	border-bottom: none;
	color: #6AC9C9;

	&:after {
		content: "\2212"; /* minus sign */
		color: #6AC9C9;
	}
}

.accordion {
	width: 80%;
	margin: 0 auto 0 auto;
	div {
		padding: 0 9px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}
	p {
		font-family: benton-sans, sans-serif;
		font-size: .75em;
		width: 95%;
		margin-top: 16px;
		text-align: left;
	}
	img {
		max-width: 4em;
		max-height: 4em;
		float: left;
		margin: 8px 16px 8px 8px;
	}

	hr {
		border: 1px solid black;
		border-radius: 2px;
	}

}

table {
	width: 100%;
	border-collapse: collapse;
	tr {
		margin-top: 20px;
	}
}

.teams {
	margin: 8px auto 8px auto;

	.side-borders {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

.speakers {
	width: 50%;
	margin: 8px 0 32px 8px;

	.right-border {
		border-right: 1px solid black;
		text-align: left;
	}
}



@media screen and (orientation: portrait) {
	.content {
		width: 100%;
		margin: 20vh 0 0 0;
	}

	.year, .accordion {
		width: 90%;
		font-size: 1.5em;
	}

	.accordion {
		p {
			font-size: 1.2em; }

		img {
			max-width: 14em;
			max-height: 14em;
		}
	}

	.panel {
		padding: 9px;
	}

	.year {
		padding: 12px 0 6px 0;
	}

	.two {
		padding: 18px 0 6px 0;
	}


}
