/*CSS elements that will be present across all pages*/


.content {
	font-size: 2vw;
	border: 1px solid white;
	border-radius: 4px;
	background: white;
	text-align: center;
}

h1 { /* PDB spelled out */
	margin-bottom: 4vw;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.bg {
	position: fixed;
	background-position: center;
	-webkit-background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	/* Keep subjects in view responsively*/
	/*height: 800px;*/
	min-height: 30%;
	/*min-width: 100%;*/
}

/*.blurred-bg { opacity: 0; }*/

/* Fonts and Common Text Formatting*/

body { font-family: benton-sans, sans-serif; }
body p { font-family: adobe-caslon-pro, serif; }
body header {font-family: brandon-grotesque, sans-serif; }

a:hover { color: #F3776D; }
a {
	text-decoration: none;
	background: none;
	color: black;
	transition-duration: .2s;
}



/* Navigation Bar */
.navbar {
	background: white;
	border: 1px solid white;
	border-radius: 4px;
	margin: 0 -1px 8px -1px;
	padding: 8px 2px 8px 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: -webkit-sticky; /* For Safari */
	position: sticky;
	top: 0;
	font-size: 1em;
}

.left { padding: 1vh 2vw 1vh 1vw; }
.center { padding: 1vh 2vw 1vh 2vw; }
.right { padding: 1vh 1vw 1vh 2vw; }

.center {
	border-left: thick solid black;
	border-right: thick solid black;
}

.column a {
	text-transform: uppercase;
	letter-spacing: .2vw;
}

/* Footer */

.contact-form, form {
	display: flex;
	flex-direction: column;
}
.contact-form {
	background: #6AC9C9;
	color: white;
	margin: -1px;
	border: 1px solid #6AC9C9;
	align-items: center;
}

.expand {
	margin: auto;
}

.expand-hide {
	display: none;
	transition: display 2s ease-out;

}

.contact-form h2 {
	font-size: 5vw;
	margin: 1em 0 .25em 0;
}

.collapsible-h2 {
	transition-duration: .3s;
	margin-bottom: 1em;
}

.collapsible-h2:hover {
	color: #F3776D;
}

.contact-form p {
	font-family: adobe-caslon-pro, serif;
	font-size: 2.5vw;
	width: 80%;
	text-align: center;
	margin-bottom: 1em;
}

form {
	width: 80%;
	align-items: flex-start;
	margin: auto;
}

form label {
	font-size: 2vw;
	margin: .5em;
}

form .field, input[type=submit] {
	/*border: 1px solid transparent;*/
	border: none;
	border-radius: 4px;
	padding: .5em;
}

form .field {
	font-family: benton-sans, sans-serif;
	width: 95%;
}

input[type=submit] {
	background-image: linear-gradient(to right, #F3776D 50%, white 50%);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	transition: all 0.3s ease-in;
	margin: 1em 0 0 .25em;
}

input[type=submit]:hover { background-position: bottom left; }

.contact-form ul {
	font-size: 1.2vw;
	list-style-type: none;
	display: flex;
	flex-flow: row;
	align-items: center;
	margin: auto;
}

.copyright { width: 80%;}
.ocf { width: 40%; }

.contact-form li {margin: 1em;}

.contact-form li a {
	background: none;
	color: white;
}

.contact-form li a:hover {
	color: #F3776D;
}


/* Mobile Adjustments */

@media screen and (orientation: portrait) {
	.content {
		margin: 20vh 0 0 0;
	}

	.content p {
		font-size: 3vw;
	}

	.navbar {
		font-size: 1.5em;
	}


	.bg {
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
	}

	.ocf img {
		max-width: 12vw;
	}
	.contact-form li {
		font-size: 1.8vw;
	}
}


@media screen and (max-width: 480px) {

	.content {
		/*margin: 70vh 0 0 0;*/
	}


	.article {
		margin-bottom: 2vh;
	}
}
