/*CSS elements that will be present across all pages*/
$primary: #6AC9C9;
$secondary: #F3776D;
$tertiary: #AADFF0;


.content {
	font-size: 2vw;
	border: 1px solid white;
	border-radius: 4px;
	background: white;
	text-align: center;
}

h1 { /* PDB spelled out */
	margin-bottom: 4vw;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.bg {
	position: fixed;
	background-position: center;
	-webkit-background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

}

.blurred-bg { opacity: 0; }

/* Fonts and Common Text Formatting*/

body {
	font-family: benton-sans, sans-serif;

	p, ol { font-family: adobe-caslon-pro, serif;}
	header {font-family: brandon-grotesque, sans-serif; }
}


a {
	&:hover { color: $secondary;	}
	text-decoration: none;
	background: none;
	color: black;
	transition-duration: .2s;
}



/* Navigation Bar */
.navbar {
	background: white;
	border: 1px solid white;
	border-radius: 4px;
	margin: 0 -1px 8px -1px;
	padding: 8px 2px 8px 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: -webkit-sticky; /* For Safari */
	position: sticky;
	top: 0;
	font-size: 1em;

	.left { padding: 1vh 2vw 1vh 1vw; }
	.center { padding: 1vh 2vw 1vh 2vw; }
	.right { padding: 1vh 1vw 1vh 2vw; }

	.center {
		border-left: thick solid black;
		border-right: thick solid black;
	}

	.column a {
		text-transform: uppercase;
		letter-spacing: .2vw;
	}
}



/* Footer */

.contact-form {
	background: #6AC9C9;
	color: white;
	margin: -1px;
	padding-bottom: 32px;
	border: 1px solid #6AC9C9;
	align-items: center;

	h2 {
		font-size: 4vw;
		margin: 1em 0 .25em 0;
	}

	p {
		font-family: adobe-caslon-pro, serif;
		font-size: 2.2vw;
		width: 80%;
		text-align: center;
		margin: auto;
	}

	ul {
		font-size: 1.2vw;
		list-style-type: none;
		display: flex;
		flex-flow: row;
		align-items: center;
		margin: auto;
	}

	.copyright { width: 80%;}
	.ocf { width: 40%; }

	li {margin: 1em;}

	li a {
		&:hover { color: $secondary; }
		background: none;
		color: white;
	}
}


form {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;

	label {
		font-size: 1.8vw;
		margin: .5em;
	}

	.field {
		font-family: benton-sans, sans-serif;
		width: 95%;
	}

	.field, input[type=submit] {
		/*border: 1px solid transparent;*/
		border: none;
		border-radius: 4px;
		padding: .5em;
	}
}

.expand {
	margin: auto;
	transition: max-height 0.3s ease-out;
	overflow: hidden;
}

.expand-hide {
	display: none;
	transition: display 2s ease-out;
}

.collapsible-h2 {
	&:hover {
		color: $secondary;

	}
	transition-duration: .3s;
	margin-bottom: 1em;
	cursor: pointer;
	font-size: 4vw !important; /* Overwrite standard 5vw font-size */
}

input[type=submit] {

	&:hover { background-position: bottom left; }
	background-image: linear-gradient(to right, $secondary 50%, white 50%);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	transition: all 0.15s ease-in;
	margin: 1em 0 0 .25em;
}




/* Mobile Adjustments */

@media screen and (orientation: portrait) {
	.content {
		margin: 20vh 0 0 0;
	}

	h1 {
		font-size: 4vh;
	}

	h2 {
		font-size: 5vw !important;
	}

	.content p, ol {
		font-size: 4vw;
	}

	.navbar {
		font-size: 1.5em;
	}


	.bg {
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
	}

	.ocf {
		width: 60% !important;
	}

	.ocf img {
		max-width: 12vw;
	}
	.contact-form li {
		font-size: 1.8vw;
	}
}


@media screen and (max-width: 480px) {

	.content {
		/*margin: 70vh 0 0 0;*/
	}


	.article {
		margin-bottom: 2vh;
	}
}
