$primary: #6AC9C9;
$secondary: #F3776D;
$tertiary: #AADFF0;

.content {
	margin: 44vh 5% 8vh 5%;
}

p {
	width: 80%;
	text-align: center;
	margin: 1em auto 1em auto;
}

ol {
	li {
		text-align: left;
	}
	width: 40%;
	margin: auto;
	font-family: adobe-caslon-pro, serif;
	/*font-size: 2vw;*/
}

#donate {
	:hover {
		background-position: right center;
		border: 2px #F3776D solid;
	}
	margin-top: 32px;
	font-weight: 500;
	letter-spacing: 1.15px;
	text-transform: uppercase;
	width: 60%;
	background-image: linear-gradient(to right, #6AC9C9 0%, #AADFF0 51%, #6AC9C9 100%);
	background-size: 200% auto;
	border: 1px solid white;
	border-radius: 32px;
	padding: 12px;
	transition-duration: .5s;
}

@media screen and (orientation: portrait) {

	.content {
		width: 100%;
		margin: 20vh 0 0 0 ;
	}

	ol {
		width: 80%;
	}

}
