$primary: #6AC9C9;
$secondary: #F3776D;
$tertiary: #AADFF0;

.content {
	margin: 60vh 15em 8vh 15em;
}

#logo {
	width: 25%;
	margin: 8vh auto 6vh auto;
	display: block;
}

.article {
	display: inline-block;
	width: 90%;

	.picture {
		float: left;
		width: 45%;

		img {
			max-height: inherit;
			overflow: hidden;
			max-width: 100%;
			margin: 15% 5% 10% 5%;
			border: .5px solid #6AC9C9;
			border-radius: 4px;
		}
	}

	.blurb {
		text-align: justify;
		width: 50%;
		float: right;
		letter-spacing: .5px;
	}


}


/* Mobile Adjustments */
@media screen and (orientation: portrait) {
	#logo {
		margin: 5vh auto 5vh auto;
		width: 35%;
	}

	.article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 2vh;
		width: 100%;
		align-content: center;
	}

	.picture {
		float: none;
		width: 80% !important;
		margin: 1em auto 1em auto;
	}

	.picture img {
		margin: 0 !important;
	}

	.blurb {
		text-align: center;
		width: 80% !important;
		float: none;
		margin: auto;
	}
}


@media screen and (max-width: 480px) {

}
