

.content {
	margin: 60vh 5% 8vh 5%;
}

#logo {
	width: 40%;
	margin: 10vh auto 10vh auto;
	display: block;
}

.article {
	display: inline-block;
	width: 90%;
}

.picture {
	float: left;
	width: 45%
}

.picture img {
	max-width: 100%;
	margin: 20% 5% 0 5%;
	border: .5px solid #6AC9C9;
	border-radius: 4px;
}

.blurb {
	text-align: left;
	width: 50%;
	float: right;
	letter-spacing: .5px;
}

/* Mobile Adjustments */
@media screen and (orientation: portrait) {
	#logo {
		margin: 5vh auto 5vh auto;
		width: 50%;
	}

	.article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 2vh;
		width: 100%;
		align-content: center;
	}

	.picture {
		float: none;
		width: 80%;
		margin: 1em auto 1em auto;
	}

	.picture img {
		margin: auto;
	}

	.blurb {
		text-align: center;
		width: 80%;
		float: none;
		margin: auto;
	}
}


@media screen and (max-width: 480px) {
	/*#logo {*/
	/*	width: 80%;*/
	/*}*/
}
